<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bestfeng.dydj.mbg.mapper.CouponOrderMapper">
  <resultMap id="BaseResultMap" type="com.bestfeng.dydj.mbg.model.CouponOrder">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uniacid" jdbcType="INTEGER" property="uniacid" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="tel" jdbcType="VARCHAR" property="tel" />
    <result column="orderid" jdbcType="VARCHAR" property="orderid" />
    <result column="money" jdbcType="VARCHAR" property="money" />
    <result column="paytime" jdbcType="INTEGER" property="paytime" />
    <result column="createtime" jdbcType="INTEGER" property="createtime" />
    <result column="paid" jdbcType="TINYINT" property="paid" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="validity_period" jdbcType="INTEGER" property="validityPeriod" />
    <result column="allmoney" jdbcType="REAL" property="allmoney" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, uniacid, pid, uid, name, tel, orderid, money, paytime, createtime, paid, status, 
    title, type, validity_period, allmoney
  </sql>
  <select id="selectByExample" parameterType="com.bestfeng.dydj.mbg.model.CouponOrderExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ims_weixinmao_jz_coupon_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ims_weixinmao_jz_coupon_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ims_weixinmao_jz_coupon_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.bestfeng.dydj.mbg.model.CouponOrderExample">
    delete from ims_weixinmao_jz_coupon_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bestfeng.dydj.mbg.model.CouponOrder">
    insert into ims_weixinmao_jz_coupon_order (id, uniacid, pid, 
      uid, name, tel, orderid, 
      money, paytime, createtime, 
      paid, status, title, 
      type, validity_period, allmoney
      )
    values (#{id,jdbcType=INTEGER}, #{uniacid,jdbcType=INTEGER}, #{pid,jdbcType=INTEGER}, 
      #{uid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, #{orderid,jdbcType=VARCHAR}, 
      #{money,jdbcType=VARCHAR}, #{paytime,jdbcType=INTEGER}, #{createtime,jdbcType=INTEGER}, 
      #{paid,jdbcType=TINYINT}, #{status,jdbcType=TINYINT}, #{title,jdbcType=VARCHAR}, 
      #{type,jdbcType=INTEGER}, #{validityPeriod,jdbcType=INTEGER}, #{allmoney,jdbcType=REAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bestfeng.dydj.mbg.model.CouponOrder">
    insert into ims_weixinmao_jz_coupon_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="uniacid != null">
        uniacid,
      </if>
      <if test="pid != null">
        pid,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="tel != null">
        tel,
      </if>
      <if test="orderid != null">
        orderid,
      </if>
      <if test="money != null">
        money,
      </if>
      <if test="paytime != null">
        paytime,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="paid != null">
        paid,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="validityPeriod != null">
        validity_period,
      </if>
      <if test="allmoney != null">
        allmoney,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uniacid != null">
        #{uniacid,jdbcType=INTEGER},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="orderid != null">
        #{orderid,jdbcType=VARCHAR},
      </if>
      <if test="money != null">
        #{money,jdbcType=VARCHAR},
      </if>
      <if test="paytime != null">
        #{paytime,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=INTEGER},
      </if>
      <if test="paid != null">
        #{paid,jdbcType=TINYINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="validityPeriod != null">
        #{validityPeriod,jdbcType=INTEGER},
      </if>
      <if test="allmoney != null">
        #{allmoney,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bestfeng.dydj.mbg.model.CouponOrderExample" resultType="java.lang.Long">
    select count(*) from ims_weixinmao_jz_coupon_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ims_weixinmao_jz_coupon_order
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.uniacid != null">
        uniacid = #{record.uniacid,jdbcType=INTEGER},
      </if>
      <if test="record.pid != null">
        pid = #{record.pid,jdbcType=INTEGER},
      </if>
      <if test="record.uid != null">
        uid = #{record.uid,jdbcType=INTEGER},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.tel != null">
        tel = #{record.tel,jdbcType=VARCHAR},
      </if>
      <if test="record.orderid != null">
        orderid = #{record.orderid,jdbcType=VARCHAR},
      </if>
      <if test="record.money != null">
        money = #{record.money,jdbcType=VARCHAR},
      </if>
      <if test="record.paytime != null">
        paytime = #{record.paytime,jdbcType=INTEGER},
      </if>
      <if test="record.createtime != null">
        createtime = #{record.createtime,jdbcType=INTEGER},
      </if>
      <if test="record.paid != null">
        paid = #{record.paid,jdbcType=TINYINT},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=TINYINT},
      </if>
      <if test="record.title != null">
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.validityPeriod != null">
        validity_period = #{record.validityPeriod,jdbcType=INTEGER},
      </if>
      <if test="record.allmoney != null">
        allmoney = #{record.allmoney,jdbcType=REAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ims_weixinmao_jz_coupon_order
    set id = #{record.id,jdbcType=INTEGER},
      uniacid = #{record.uniacid,jdbcType=INTEGER},
      pid = #{record.pid,jdbcType=INTEGER},
      uid = #{record.uid,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      tel = #{record.tel,jdbcType=VARCHAR},
      orderid = #{record.orderid,jdbcType=VARCHAR},
      money = #{record.money,jdbcType=VARCHAR},
      paytime = #{record.paytime,jdbcType=INTEGER},
      createtime = #{record.createtime,jdbcType=INTEGER},
      paid = #{record.paid,jdbcType=TINYINT},
      status = #{record.status,jdbcType=TINYINT},
      title = #{record.title,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=INTEGER},
      validity_period = #{record.validityPeriod,jdbcType=INTEGER},
      allmoney = #{record.allmoney,jdbcType=REAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bestfeng.dydj.mbg.model.CouponOrder">
    update ims_weixinmao_jz_coupon_order
    <set>
      <if test="uniacid != null">
        uniacid = #{uniacid,jdbcType=INTEGER},
      </if>
      <if test="pid != null">
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="orderid != null">
        orderid = #{orderid,jdbcType=VARCHAR},
      </if>
      <if test="money != null">
        money = #{money,jdbcType=VARCHAR},
      </if>
      <if test="paytime != null">
        paytime = #{paytime,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=INTEGER},
      </if>
      <if test="paid != null">
        paid = #{paid,jdbcType=TINYINT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="validityPeriod != null">
        validity_period = #{validityPeriod,jdbcType=INTEGER},
      </if>
      <if test="allmoney != null">
        allmoney = #{allmoney,jdbcType=REAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bestfeng.dydj.mbg.model.CouponOrder">
    update ims_weixinmao_jz_coupon_order
    set uniacid = #{uniacid,jdbcType=INTEGER},
      pid = #{pid,jdbcType=INTEGER},
      uid = #{uid,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      orderid = #{orderid,jdbcType=VARCHAR},
      money = #{money,jdbcType=VARCHAR},
      paytime = #{paytime,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=INTEGER},
      paid = #{paid,jdbcType=TINYINT},
      status = #{status,jdbcType=TINYINT},
      title = #{title,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      validity_period = #{validityPeriod,jdbcType=INTEGER},
      allmoney = #{allmoney,jdbcType=REAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>